*.log*
assets
log
work
.nextflow
nextflow
trace*
timeline*
report*
timeline.html*
dag.dot*
out
*camiClient.jar*
test/data
bin/__pycache__
work_*
test/reads
.nextflow.pid
aws*
output
.chglog/
.idea
*.iml
databases
credentials
wiki_venv
*.html
wiki_scripts/site/
generated_yamls
tmp
