profiles {
    slurm {  
        process.executor = 'slurm'
        process.containerOptions = ' --user 1000:1000 '
    //    process.scratch = "/vol/scratch/"
        executor.queueSize = 600
        executor.pollInterval = '5 sec'
        executor.queueStatInterval = '5 sec'
        //executor.errorStrategy = "terminate"
        docker.fixOwnership = true
        docker.enabled = true
        withLabel: large {
            cpus = 14 
         //   memory = 20.GB
        }
        withLabel: medium {
            cpus = 10
            time = "5m"  
         //   memory = 20.GB
        }
        withLabel: small {
            cpus = 5
            time = "5m"  
         //   memory = 5.GB
        }
    }
    local { 
         docker.enabled = true
         docker.fixOwnership = true
         process.containerOptions = ' --user 1000:1000 '
         withLabel: large {
            cpus = 4
            memory = 5.GB
         }
         withLabel: medium {
            cpus = 2
            memory = 5.GB
         }
         withLabel: small {
            cpus = 2
            memory = 5.GB
         }
    }
    conda {
         conda.createTimeout = '1 h'
         process.conda = { params.environment ? params.environment : "$projectDir/conda/environment.yml" }
    }
}


